<div class="container mt-3">
  <div class="row">
    <div class="col">
      <a (click)="back()" class="text-darken text-xs custom-link">Go back</a>
    </div>
  </div>

  <div class="row mt-5 mb-4">
    <div class="col">
      <h2 class="gradient-text code-font">{{ userProfile.login }}</h2>
    </div>
    <div class="col d-inline-flex justify-content-end align-items-center">
      <span class="badge rounded-pill custom-badge code-font text-gray">{{ userProfile.type }}</span>
    </div>

    <hr>
  </div>

  <div class="row">
    <div class="col-12 col-md-3">
      <figure class="figure">
        <img [src]="userProfile.avatar_url" class="figure-img img-fluid rounded" alt="Avatar">
        <figcaption class="figure-caption text-end code-font text-gray">
          <span class="text-xs text-darken"> on <a class="custom-link" href="{{ userProfile.html_url }}" target="_blank">GitHub</a> since {{ customFormatDate(userProfile.created_at) }}</span>
        </figcaption>
      </figure>
    </div>

    <div class="col-12 col-md-9 code-font">
      <div class="row">
        <div class="col-12">Followers: <span class="code-font text-darken">{{ userProfile.followers }}</span></div>
      </div>

      <div class="row">
        <div class="col-12">Location: <span class="code-font text-darken">{{ userProfile.location ?? 'unknown' }}</span></div>
      </div>

      <div class="row">
        <div class="col-12">Bio:</div>
        <div *ngIf="userProfile.bio; else elseBlock" class="col-12 text-darken">{{userProfile.bio}}</div>
        <ng-template #elseBlock>
          <div class="col-12 text-darken">This {{ userProfile.type }} has not completed their bio!</div>
        </ng-template>
      </div>

      <div class="row  mt-5">
        <div class="col-12">Repositories <span class="text-xxs text-darken">(total: {{ userProfile.public_repos }})</span>:</div>
      </div>
      <div class="row" *ngIf="userRepos.length > 0">
        <div class="col-12">
          <app-repositories-list [repositories]="userRepos"></app-repositories-list>
        </div>
        <div class="col-12">
          <app-pagination
            [showPagination]="(userRepos.length > 0)"
            [showPreviewOption]="currentPage > 1"
            [showNextOption]="userRepos.length >= perPage"
            [currentPage]="currentPage"
            ($onClickPreviewOptionFunction)="getUserRepos(currentPage - 1)"
            ($onClickNextOptionFunction)="getUserRepos(currentPage + 1)"
          ></app-pagination>
        </div>
      </div>
      <div *ngIf="userRepos.length < 1" class="row mt-5">
        {{userProfile.login}} does not have repositories.
      </div>
    </div>
  </div>
</div>
