<div class="container mt-3">
  <div class="row">
    <div class="col">
      <a (click)="back()" class="text-darken text-xs custom-link">Go back</a>
    </div>
  </div>

  <div class="row mt-5 mb-3">
    <div class="col-12">
      <h2 class="gradient-text code-font">Repositories:</h2>
      <span class="text-darken text-xs code-font">Below is a list of found repositories matching your query.</span>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="offset-md-12">
      <div *ngIf="repositories.length > 0">
        <app-repositories-list [repositories]="repositories" [showAuthor]="true"></app-repositories-list>
      </div>
      <div *ngIf="repositories.length === 0">
        <p>No repositories found for query "{{ query }}"</p>
      </div>
    </div>
  </div>


  <app-pagination
    [showPagination]="(repositories.length > 0)"
    [showPreviewOption]="currentPage > 1"
    [showNextOption]="repositories.length >= perPage"
    [currentPage]="currentPage"
    ($onClickPreviewOptionFunction)="searchRepositories(currentPage - 1)"
    ($onClickNextOptionFunction)="searchRepositories(currentPage + 1)"
  ></app-pagination>
</div>
